@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');

body{
    margin: 0;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

header{
    /* background-color: aqua; */
    width: 100%;
    height: 108px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-main{
    justify-content: center;    
    display: flex;
    flex-direction: column;
    width: 245px;
    /* height: 108px; */
    flex-shrink: 0;
    color: #FE043C;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu_items{
    /* display: flex; */
    width: 490px;
    /* height: 25px; */
    flex-shrink: 0;
    justify-content: center;
}

.menu_items ul{
    display: flex;
    color: #2E266F;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}
.menu_items ul > li{
    /* background-color: royalblue;
    border-radius: 5px; */
    padding: 5px;
    display: flex;
    margin: 0 10px;

}
.menu_items ul > li:hover{
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
}